<div class="details" *ngIf="pokemon && specie">
    <app-button-back class="button__back"></app-button-back>
    <section class="details__img">
        <app-aura class="details__aura" [types]="pokemon.types"></app-aura>
        <img class="details__image" [src]="pokemon.sprites.other['official-artwork'].front_default" alt="">
    </section>
    <mat-card class="details__card">
        <div class="details__main">
            <section class="details__name">
                <mat-card-title class="name">{{ pokemon.name }}</mat-card-title>
                <mat-card-subtitle class="details__genus">{{ specie.genera[0].genus }}</mat-card-subtitle>
            </section>
            <mat-card-actions class="details__types">
                <app-chip mat-button *ngFor="let type of pokemon?.types" [type]="type"></app-chip>
            </mat-card-actions>
        </div>
        <mat-card-content class="details__profile">
            <p class="details__desc">{{ specie.flavor_text_entries[0].flavor_text }}</p>
            <app-divider class="details__divider" [height]="7" [colors]="colors"></app-divider>
            <p class="details__info"><strong>Height:</strong> {{ pokemon.height }}</p>
            <p class="details__info"><strong>Weight:</strong> {{ pokemon.weight }}</p>
            <p class="details__info"><strong>Gender Rate:</strong> {{ specie.gender_rate }}</p>
            <p class="details__info"><strong>Capture Rate:</strong> {{ specie.capture_rate }}</p>
            <p class="details__info"><strong>Egg Groups:</strong> <span *ngFor="let group of specie.egg_groups">{{ group.name }}, </span></p>
            <p class="details__info"><strong>Habitat:</strong> {{ specie.habitat.name }}</p>
            <p class="details__info"><strong>Hatch Counter:</strong> {{ specie.hatch_counter }}</p>
            <p class="details__info"><strong>Abilities:</strong> <span *ngFor="let ability of pokemon?.abilities">{{ ability.ability.name }}, </span></p>
        </mat-card-content>
    </mat-card>
    <mat-card class="details__stats" *ngIf="pokemon.stats.length > 0">
        <mat-card-content class="">
            <p class="details__stat" *ngFor="let stat of pokemon?.stats">
                <strong>{{ stat.stat.name }}</strong> {{ stat.base_stat }}
                <app-divider class="details__divider" [height]="2" [colors]="colors"></app-divider>
            </p>
        </mat-card-content>
    </mat-card>
    <mat-tab-group class="details__tabs" *ngIf="pokemon.stats.length > 0">
        <mat-tab label="Bar"> <app-pokemon-stats-bar [pokemonStats]="pokemon.stats" [color]="colors[0]"></app-pokemon-stats-bar> </mat-tab>
        <mat-tab label="Radar"> <app-pokemon-stats [pokemonStats]="pokemon.stats" [color]="colors[0]"></app-pokemon-stats> </mat-tab>
    </mat-tab-group>
</div>
