<div class="details" *ngIf="pokemon && specie">
    <app-button-back class="button__back"></app-button-back>
    <section class="details__img">
        <app-aura class="details__aura" [types]="pokemon.types"></app-aura>
        <img class="details__image" [src]="pokemon.sprites.other['official-artwork'].front_default" alt="">
    </section>
    <mat-card class="details__card">
        <div class="details__main">
            <section class="details__name">
                <mat-card-title class="name">{{ pokemon.name }}</mat-card-title>
                <mat-card-subtitle class="details__genus">{{ specie.genera[0].genus }}</mat-card-subtitle>
            </section>
            <mat-card-actions class="details__types">
                <app-chip mat-button *ngFor="let type of pokemon?.types" [type]="type"></app-chip>
            </mat-card-actions>
        </div>
        <mat-card-content class="details__profile">
            <p class="details__desc">{{ specie.flavor_text_entries[0].flavor_text }}</p>
            <app-divider class="details__divider" [height]="7" [colors]="colors"></app-divider>
            <p class="details__info"><strong>Height:</strong> {{ pokemon.height }}</p>
            <p class="details__info"><strong>Weight:</strong> {{ pokemon.weight }}</p>
            <p class="details__info"><strong>Gender Rate:</strong> {{ specie.gender_rate }}</p>
            <p class="details__info"><strong>Capture Rate:</strong> {{ specie.capture_rate }}</p>
            <p class="details__info"><strong>Egg Groups:</strong> <span *ngFor="let group of specie.egg_groups">{{ group.name }}, </span></p>
            <p class="details__info"><strong>Habitat:</strong> {{ specie.habitat.name }}</p>
            <p class="details__info"><strong>Hatch Counter:</strong> {{ specie.hatch_counter }}</p>
            <p class="details__info"><strong>Abilities:</strong> <span *ngFor="let ability of pokemon?.abilities">{{ ability.ability.name }}, </span></p>
        </mat-card-content>
    </mat-card>
    <mat-card class="details__stats" *ngIf="pokemon.stats.length > 0">
        <h2 class="details__title">Stats</h2>
        <mat-card-content class="details__content">
            <p class="details__stat" *ngFor="let stat of pokemon?.stats">
                <strong>{{ stat.stat.name }}</strong> {{ stat.base_stat }}
                <app-divider class="details__divider" [height]="2" [colors]="colors"></app-divider>
            </p>
        </mat-card-content>
        <mat-card-content class="details__content">
            <div  class="details__tabs">
                <app-pokemon-stats-bar [pokemonStats]="pokemon.stats" [color]="colors[0]"></app-pokemon-stats-bar>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="details__stats" *ngIf="pokemon.stats.length > 0">
        <h2 class="details__title">Comparator</h2>
        <mat-card-content class="details__content">
            <div  class="details__tabs">
                <app-pokemon-stats [pokemonStats]="statsToCompator" [color]="colorsToComparator"></app-pokemon-stats>
            </div>
        </mat-card-content>
        <mat-card-content class="details__content">
            <div class="comparative__header">
                <mat-form-field appearance="fill">
                    <mat-label>Pokemon</mat-label>
                    <input type="text"
                        placeholder="Ex. Pikachu"
                        matInput
                        [formControl]="pokemonAuto"
                        [matAutocomplete]="auto"
                    >
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="changeOption($event)">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <section class="comparator">
                <div class="rival">
                    <div class="hp" *ngIf="pokemonRival">
                        <p class="hp__name">{{ pokemonRival.name | titlecase }}</p>
                        <span class="hp__bar"></span>
                    </div>
                    <img *ngIf="pokemonRival" [src]="pokemonRival.sprites.front_default" [alt]="pokemonRival.name">
                </div>
                <div class="self">
                    <img [src]="pokemon.sprites.back_default" alt="">
                    <div class="hp">
                        <p class="hp__name">{{ pokemon.name | titlecase }}</p>
                        <span class="hp__bar"></span>
                    </div>
                </div>
            </section>
        </mat-card-content>
    </mat-card>
</div>
