/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bug: #3ba157;
    --dark: #5b5a7c;
    --dragon: #60d5e7;
    --electric: #f8ff6f;
    --fairy: #f9106b;
    --fighting: #fb6437;
    --fire: #ff4d5d;
    --flying: #9abad3;
    --ghost: #936896;
    --grass: #25d34e;
    --ground: #724c1f;
    --ice: #83ddff;
    --normal: #d49eab;
    --poison: #a169e4;
    --psychic: #fe1894;
    --rock: #903f21;
    --steel: #44c398;
    --water: #84a7fb;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
